@import "../../assets/scss/variables.scss";

.faq-main {
  border-top: 2px solid rgb(231, 231, 231);
  padding-bottom: 2rem;

  .back-button {
    margin-left: 2rem;
<<<<<<< HEAD

    @media only screen and (max-width: $max) {
      margin-left: 1.5rem;
    }
=======
>>>>>>> 96fe43eef8e9bc77b7767c29bc503eaa5b61edf5
  }

  .faq-main-container {
    padding: 2rem;
    padding-top: 1rem;
    box-sizing: border-box;
    max-width: 50rem;
    display: grid;
    gap: 0.5rem;

    h3,
    .faq-heading {
      text-transform: uppercase;
      color: $main;
    }

    .faq-heading {
      font-size: 2rem;
    }
<<<<<<< HEAD
=======

    p {
      line-height: 1.5;
    }

    @media only screen and (max-width: $max) {
      padding-left: 1.5rem;
>>>>>>> 96fe43eef8e9bc77b7767c29bc503eaa5b61edf5

    p {
      line-height: 1.5;
    }

    @media only screen and (max-width: $max) {
      padding-left: 1.5rem;
    }
  }

  a {
    text-decoration: underline !important;
  }
}
